[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
satpy = "*"
pandas = "*"
numpy = "*"
xarray = {extras = ["complete"], version = "*"}
dask = "*"
netcdf4 = "*"
bottleneck = "*"
pycoast = "*"
rasterio = "*"
cmocean = {extras = ["plots"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
